name: Angular-pwa-application

on: 
    push:
      branches:
      - master
    pull_request:
      branches:
      - master

jobs:
    build:
      runs-on: ubuntu-20.04

      steps:
      # Step 1: Checkout repository code
      - name: Checkout Code
      - uses: actions/checkout@v4
      - echo: "Step one checkout code!"

